<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}On Call{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'http://fonts.googleapis.com/css?family=Julius+Sans+One'
        'http://fonts.googleapis.com/css?family=Averia+Libre'
        'http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css'
        'bundles/thloncall/css/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="menu">
    {{ knp_menu_render('THLOnCallBundle:Builder:mainMenu') }}
</div>
<div id="tagline">
    {% block tagline %}
    {% endblock %}
</div>
<div id="main">
    {% block body %}{% endblock %}
    {% block javascripts %}
        {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'
        'http://code.jquery.com/ui/1.10.0/jquery-ui.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block javascriptinline %}
    {% endblock %}
</div>

</body>
</html>