
#menu {
    background-color: #265399;
    padding-left: 22px;
}
ul.menu {
    list-style: none inside;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18pt;
}

ul.menu.top>li:hover, ul.menu.top>li:hover>ul  {
    box-shadow: 2px 2px 5px #000000;
}

ul.menu.top > li {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    border-radius: 0 5px 0 0;
    background-color: #265399;
    color: #ffffff;
    text-shadow: 0 0 5px #132245;
}

ul.menu.top > li, ul.menu.sub > li {
    min-width: 80px;
}
ul.menu.top > li > a, ul.menu.sub > li > a {
    color: #ffffff;
    min-width: 100px;
    padding: 12px;
    text-decoration: none;
    display: block;
}

ul.menu.top > li:hover > a,ul.menu.top > li > ul > li:hover > a {
    color: #dffcff;
    text-decoration: none;
    display: block;
    text-shadow: 0 0 10px #3a97ff;
}

ul.menu.sub > li {
    display: block;
}
ul.menu.sub {
    display: none;
}
ul.menu.top>li:hover {
    border-radius: 0 15px 0 0;
    background: -moz-linear-gradient(top,  #265399 0%, #132245 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#265399), color-stop(100%,#132245)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #265399 0%,#132245 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #265399 0%,#132245 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #265399 0%,#132245 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #265399 0%,#132245 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265399', endColorstr='#132245',GradientType=0 ); /* IE6-9 */
}
ul.menu.top>li:hover  ul.menu.sub {
    display: block;
    position: fixed;
    background-color: #132245;
}

ul.menu.top>li:hover  ul.menu.sub:last-child {
    border-radius: 0 0 0 15px;
}


